<h1>Sign Up</h1>

<!--  Create a User with a username & password -->
<%= form_for @user do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.label :confirm %>
<%= f.password_field :password_confirmation %>
<%= f.submit value="Create" %>
<% end %>

<%= link_to "Home", root_path %>

<%= render "layouts/error" %>
