<%= render "layouts/header" %>

<!--  Create a User with a username & password -->
<div class="wrapper">
<%= form_for @user do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :new_password %>
<%= f.password_field :password %>
<%= f.label :confirm_password %>
<%= f.password_field :password_confirmation %>
<%= f.submit value="Create" %>
<% end %>


<%= render "layouts/error" %>

<%= link_to "Home", root_path %>
</div>
