<h2>Orders</h2> <%=  link_to :tables, tables_path %>

<!-- create orders in ALL-->
<%= form_for @order do |f| %>
  <%= f.collection_select(:table_id, Table.all, :id, :name) %>
  <%= f.collection_select(:dish_id, Dish.all, :id, :name) %>
  <%= f.submit :order %>
  <% end %>

<!-- Show orders in ALL-->
<% if @order.blank? %>
<p>There are currently no orders.</p>
<% else %>
<p>ALL Open tickets:</p>
  <ul>
    <% @orders.each do |order| %>
    <li>
      <%= order.table.name %> ordered <%= order.dish.name %> for $<%= order.dish.price %> Time:
      <%= content_tag(:div, class: 'box') do %>
      <%= order.created_at.strftime("%H:%M:%S")%>
      <% end %>
      <%= button_to :remove, order_path(order), method: :delete%>
    </li>
    <% end %>
  </ul>
<% end %>
