<h1>Orders</h1>

<!-- create orders -->
<%= form_for @order do |f| %>
  <%= f.collection_select(:dish_id, Dish.all, :id, :name) %>
  <%= f.collection_select(:guest_id, Guest.all, :id, :name) %>
  <%= f.submit "create order" %>
  <% end %>

<!-- Show orders -->
<% if @orders.blank? %>
<p>There are currently no orders.</p>
<% else %>
<p>These are the current orders.</p>
  <ul>
    <% @orders.each do |order| %>
    <li>
      <%= order.guest.name %> ordered <%= order.dish.name %> for $<%= order.dish.price %>
      <%= button_to "Remove", order_path(order), method: :delete%>
    </li>
    <% end %>
  </ul>
<% end %>
