<%= render 'layouts/header' %>
<div class="wrapper">
<%=  link_to :tables, profile_path %>

<!-- create orders in ALL-->
<%= form_for @order do |f| %>
<%= f.collection_select(:table_id, Table.all, :id, :name) %>
<%= f.collection_select(:dish_id, Dish.all, :id, :name) %>
<%= f.submit :order %>
<% end %>

<!-- Show orders in ALL-->
<% if @order.blank? %>
<p>There are currently no orders.</p>
<% else %>
<p>ALL Open tickets:</p>
  <ul>
    <% @orders.each do |order| %>
    <li style="display: inline-block;">
      <%= order.table.name %> ordered <a><%= order.dish.name %></a>
      @: <%= order.created_at.strftime("%H:%M:%S")%>
    <%= button_to :remove, order_path(order), method: :delete%>
    </li>
    <% end %>
  </ul>
<% end %>
</div>
