<%= render 'layouts/header' %>

<div class="wrapper">
  <div class="table-name" style="display: inline-block">
<h2><%= @table.name %></h2>
<%= link_to "Place an Order", orders_path %>
  </div>
<% if @table.orders.blank? %>
  <p>There are currently no orders.</p>
<% else %>
  <p>Open tickets:</p>
  <table class="order-list">
    <thead>
      <tr>
        <th>Dish</th>
        <th>Price</th>
        <th>Time Ordered</th>
      </tr>
    </thead>
    <tbody>
      <% @table.orders.each do |order| %>
      <tr>
        <td><%= order.dish.name %></td>
        <td>$<%= '%.2f' % order.dish.price %></td>
        <td><%= order.created_at.strftime("%H:%M:%S")%></td>
      </tr>
      <% end %>
      <tr>
        <td>Subtotal</td>
        <td>$<%= '%.2f' % @table.dishes.sum(:price) %></td>
      </tr>
      <tr>
        <td>Tax</td>
        <td>$<%= '%.2f' % (@table.dishes.sum(:price) * 0.09) %></td>
      </tr>
      <tr>
        <td>Total</td>
        <td>$<%= '%.2f' % ((@table.dishes.sum(:price) * 0.09) + (@table.dishes.sum(:price))) %></td>
      </tr>
      <tr>
        <td>
          <p style="font-size: .8em;">
          Tip <br>
            18%: $<%= '%.2f' % ((@table.dishes.sum(:price) * 0.09) + (@table.dishes.sum(:price) * 0.18)) %><br>
            20%: $<%= '%.2f' % ((@table.dishes.sum(:price) * 0.09) + (@table.dishes.sum(:price) * 0.20)) %><br>
            25%: $<%= '%.2f' % ((@table.dishes.sum(:price) * 0.09) + (@table.dishes.sum(:price) * 0.25)) %>
         </p>
       </td>
      </tr>
    </tbody>
  </table>
<% end %>
