<%= render 'layouts/header' %>

<div class="wrapper">
<h2><%= @table.name %></h2>

<%= link_to "All Orders", orders_path %>
<% if @table.orders.blank? %>
<p>There are currently no orders.</p>
<% else %>
<p>Open tickets:</p>
<ul>
  <% @table.orders.each do |order| %>
  <li><%= order.table.name %> ordered <%= order.dish.name %>....$<%= '%.2f' % order.dish.price %></li>
  <% end %>
</ul>
<% end %>
